name: Run unit tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  workflow_dispatch:
    inputs:
      test-suite:
        description: 'Select the test suite to run'
        required: true
        default: 'jestjs'
        options:
          - jestjs
          - mochajs
       env:   
        description: 'Select env'
        required: true
        default: 'dev'
        options:
          - dev
          - prod
          - test
          - stage

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        working-directory: ./jestjs
        run: npm install

      - name: Run unit tests
        working-directory: ./jestjs
        run: npm run test